<button mat-button [matMenuTriggerFor]="loginMenu">Connection</button>
<mat-menu #loginMenu="matMenu" xPosition="before">
  <button mat-menu-item (click)="navigateTo('login')" >Login</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="contactMenu">Contact</button>
<mat-menu #contactMenu="matMenu" xPosition="before">
  <button mat-menu-item (click)="navigateTo('contact')" >écrire</button>
  <button mat-menu-item (click)="navigateTo('location')" >location</button>
</mat-menu>

<router-outlet></router-outlet>
